body{
	margin:0;
	padding: 0;
}

#container{
	width:320px;
	height:440px;
	margin: 0 auto;
	background: url("../assets/bg.jpg");
}

#empty{
	background: url("../assets/thermometer-empty.png");
	width:29px;
	height: 382px;
	position: relative;
	top:40px;
	left: 30px;
}

#mercury{
	background: url("../assets/mercury.png")no-repeat;
	width: 100px;
	height: 321px;
	position: relative;
	background-position-x: 40px;
	bottom: 395px
}

#icy{
	background: url("../assets/icy.png")no-repeat;
	width:98px;
	height:0px;
	position: relative;
	bottom: 720px;
	left: 195px;
	-webkit-transition:200ms linear;
}

.icy-opencap{
	background: url("../assets/bottle-opencap.png")no-repeat!important;
}

#cap{
	background: url("../assets/cap.png")no-repeat;
	width:64px;
	height:53px;
	position: absolute;
	bottom: 515px;
	right: 120px;
	display: none;
}

.cap-on{
	display:block!important;
}

#bottle{
	background: url("../assets/bottle.png")no-repeat;
	width:98px;
	height:348px;
	position: relative;
	bottom: 375px;
	left: 195px;
}

#decrease{
	background: url("../assets/decrease.png")NO-REPEAT;
	width: 137px;
	height: 50px;
	position: relative;
	bottom: 300px;
	left: 60px;
}

#perfect{
	background: url("../assets/perfect-serve.png");
	width: 94px;
	height: 9px;
	position: relative;
	bottom: 69px;
	left: 62px;
}

#girl{
	background: url("../assets/girl.jpg");
	width: 320px;
	height: 440px;
	position: absolute;
	top:0px;
	left:-320px;
}

#redbg{
	background: red;
	width: 320px;
	height: 680px;
	position: absolute;
	top:0px;
	left:-320px;
}

#refresh{
	background: url("../assets/refresh.png")no-repeat;
	width:233px;
	height:103px;
	position: absolute;
	top: 75px;
	left: 320px;
}

#click{
	background: url("../assets/a-click.png")no-repeat;
	width:159px;
	height:40px;
	position: absolute;
	top: 190px;
	left: 320px;
}

#havesay{
	background: url("../assets/option-a.png")no-repeat;
	width:259px;
	height:13px;
	position: absolute;
	top: 260px;
	left: 320px;
} 

#the-form{
	width:250px;
	position: absolute;
	top: 280px;
	overflow: hidden;
	left: 320px;
}

#the-form select{
	float: left;
}

#the-form input{
	float: left;
	padding-top: 2px;
	padding-left: 10px;

}

#logo{
	background: url("../assets/coke-logo.png");
	width:115px;
	height:101px;
	position: absolute;
	top: 315px;
	left: 320px;
}


/*animation*/
.getTransformed{
	-webkit-transform:rotate(-30deg);
}
